body, html{
	padding: 0px;
	margin: 0px;
}

#me{
	position: fixed;
	top: 0px;
	left: 0px; 
	width: 246px;
	height: 566px;
	background: url(../images/meSpriteSheet.png) no-repeat;
	background-position: -492px 0px;
}
#charaterLand{
	position: fixed;
	top:0px;
	left: 0px;
	width: 5000px;
	height: 600px;
	background-color: skyblue;
}
#ground{

}





















