#stageWrap{
	width: 1000px;
	margin: 0px auto;
}
#stage{
	position: absolute;
	background-color: #29abe2;
	width: 1000px;
	height: 700px;
	overflow: hidden;
}
#backClouds{
	position: absolute;
	top: 0px;
	left: 100px; 
	width: 1300px;
	height: 250px;
	background: url(../images/backClouds.svg) no-repeat;
}
#middleClouds{
	position: absolute;
	top: 250px;
	left: 80px; 
	width: 1300px;
	height: 350px;
	background: url(../images/middleClouds.svg) no-repeat;
}	
#frontClouds{
	position: absolute;
	top: 300px;
	left: -50px; 
	width: 1500px;
	height: 550px;
	background: url(../images/frontClouds.svg) no-repeat;
}		